<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdy.qrcodelibrary">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- dangerous permissions -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- group: CAMERA -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- group: STORAGE -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ScanActivity"
            android:theme="@style/My.Theme.Fullscreen" />
    </application>
</manifest>
